@use "../../styles/tools/container";

.week_summary {
  @extend %flex-column;
  @include container.content-container(-4.8rem);
    &__last_days {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

}
