@use "../../../styles/tools/container";

.header {
  @include container.container-flex;
  background-color: var(--color-primary-plain);

  &__title {
    font-size: var(--font-xl);
  }

  &__hamburger{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: transparent;
    gap: 6px;
    border: none;

    &__activated {
      div:first-child {
        transform: rotate(45deg);
      }
      div:nth-child(2) {
        opacity: 0;
      }
      div:last-child {
        transform: rotate(-45deg);
      }
    }

    &__line {
      background-color: var(--color-font-light);
      height: 3.5px;
      width: 100%;
      transition: all 300ms;
      transform-origin: left;
    }
  }
}
